# Modules
environs
bson
python-json-logger
sqlalchemy
alembic
psycopg2-binary

# Server
fastapi
python-multipart

# LLM
torch
git+https://github.com/OpenLMLab/collie
fire
gradio
datasets

# SD
accelerate>=0.16.0
torchvision
transformers>=4.25.1
ftfy
tensorboard
Jinja2

# Optional
wandb
xformers
bitsandbytes