# Modules
environs
bson
python-json-logger
sqlalchemy
alembic
psycopg2-binary

# Server
fastapi
python-multipart
pydantic<2.0
celery

# LLM
torch
git+https://github.com/OpenLMLab/collie
fire
gradio
datasets

# SD
git+https://github.com/huggingface/diffusers.git
accelerate>=0.16.0
torchvision
transformers>=4.25.1
ftfy
tensorboard
Jinja2

# Optional
wandb
xformers
bitsandbytes

git+https://github.com/microsoft/DeepSpeed.git