# Modules
environs
bson
python-json-logger
sqlalchemy
alembic
psycopg2-binary

# LLM
torch
gradio
datasets

# Server
fastapi
python-multipart
pydantic<2.0
celery
watchdog
gevent>=22.0
Redis>=4.0

# NB
docker>=6.1.3

# Bud Ecosystem
git+https://github.com/BudEcosystem/bud-ecosystem-utils.git@development
