postgres:
  - table_name: "datasets"
    source_type:
      0: Hugging Face
      1: Local Upload
    type:
      0: Text
      1: Text & Image
  - table_name: "models"
    type: &family
      0: LLaVA
      1: SD 1.5 LoRA
    source_type:
      0: Hugging Face
      1: Local Upload
  - table_name: "runs"
    status:
      0: Queued
      1: Running
      2: Finished
      3: Failed
      4: Stopped
  - table_name: "serving_history"
    status:
      0: Idle
      1: Running
      2: Failed
nodes:
  name:
    0: LLM Finetuning
    1: SD LoRA Finetuning
    2: HumanEval
    3: Custom Eval
  property_type:
    integer: 0
    number: 1
    string: 2
    boolean: 3
    dataset: 4
    model: 5
  family: *family
