postgres:
  - table_name: "datasets"
    source_type:
      0: Hugging Face
      1: Local Upload
    type:
      0: Text
      1: Text & Image
  - table_name: "models"
    type:
      0: Adapter
      1: Delta
      2: Full
    family: &family
      0: LLaMa
      1: SD 1.5 LoRA
      2: SD 1.5
    source_type:
      0: Hugging Face
      1: Local Upload
  - table_name: "runs"
    status:
      0: Queued
      1: Running
      2: Finished
      3: Failed
      4: Stopped
  - table_name: "serving_history"
    status:
      0: Idle
      1: Running
      2: Failed
pipelines:
  nodes:
    category:
      0: Training
      1: Eval
    name:
      0: LLM Finetuning
      1: SD LoRA Finetuning
      2: HumanEval
      3: Custom Eval
    property_type:
      0: integer
      1: number
      2: string
      3: boolean
      4: dataset
      5: model
    family: *family
